html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-red{
    color: red !important;
}

.text-pink {
    color: #ff1448 !important;
}

.nav-link {
    letter-spacing: 2px;
}

.dishCard {
    height: min-content;
}

#recipe-list {
    top: 5rem;
}
#recipe-list ul::-webkit-scrollbar {
    width: 10px;
}
#recipe-list ul::-webkit-scrollbar-track {
    background-color: #ffffff;
}
#recipe-list ul::-webkit-scrollbar-thumb {
    background-color: #ff1448;
    border-radius: 10px;
}

.recipe-item:hover {
    background-color: #0d243d;
    border-radius: 10px;
}
.recipe-item:hover a {
    color: #ffffff !important;
}
}
.nav-link{
    letter-spacing: 2px;
}
#carouselExamplesSlidesOnly{
    height: 500px
}
footer{
    background-color: black;
    height: 200px;
}
header{
    z-index: 1000;
}
.dishCard{
    height: min-content;
}
#recipe-list{
    top: 5rem;
}
#recipe-list::-webkit-scrollbar{
    width: 10px
}

#order-img {
    height: 230px;
}

.validation-summary-errors li {
    color: #dc3545;
}
#qty{
    width:50px;
    border:none;
}
#qty:focus{
    outline:none;
}
#qtySection{
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.fa-plus, .fa-minus {
    cursor:pointer;
}
#totalAmount, #price {
    width:60px;
    border:none;

}
#totalAmount:focus, #price:focus {
    outline:none;
}
.addToCartIcon{
    cursor:pointer;
}
.bg-black{
     background-color:#0d243d;
}
#showCartList{
    display:none;
    right:20px;
    width:400px;
    z-index: 1;
}
#cartListIcon:hover ~#showCartList{
    display: block;
}
.cartListImg{
    width: 100px;
    height:60px;
}
#showCartList:hover {
    display: block;
}
.cartImage{
    width:180px;
    height:150px;
}
.cartTitle{
    width:500px;
}
.emptyCart{
    font-size:300px;
}
.removeCartBTN{
    cursor:pointer;
}

#andrew {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}