html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.text-red{
    color: red !important;
}
.nav-link{
    letter-spacing: 2px;
}
#carouselExamplesSlidesOnly{
    height: 500px
}
footer{
    background-color: black;
    height: 200px;
}
header{
    z-index: 1000;
}
.dishCard{
    height: 250px;
}
#recipe-list{
    top: 5rem;
}
#recipe-list::-webkit-scrollbar-{
    width: 10px
}

