@model IEnumerable<FoodApplication.Models.Recipe>

@foreach (var recipe in Model)
{
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="shadow rounded">
            <div class="card">
                <img src ="@recipe.Image_url" class="card-img-top h75"/>
                <div class="card-body">
                    <p class="card-title">@recipe.Title</p>
                    <p class="card-text">@recipe.Publisher</p>
                </div>
            </div>
        </div>
    </div>
}