@model IEnumerable<FoodApplication.Models.Recipe>

@*Model == recipes*@
@foreach (Recipe recipe in Model)
{
	<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
		<div class="shadow rounded p-2">
			<div class="card dishCard">
				<img src="@recipe.Image_url" class="card-img-top h-50">
				<div class="card-body">
					<p class="card-title fw-bold fs-6 text-dark">
						@recipe.Title
					</p>
					<span class="card-text">@recipe.Publisher</span>
					<div class="d-flex flex-wrap justify-content-between">
						<a href="/Recipe/Order?id=@recipe.Id"
					   class="btn btn-sm bg-black text-white shadow rounded p-2">Order</a>
						@if (User.Identity.IsAuthenticated)
						{
							<span class="addToCartIcon" onclick="cart.call(this)"
							  data-recipeId="@recipe.Id">
								<i class="fa-regular fa-heart fs-3"></i>
							</span>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}