

<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="nb-2 row">
                <div class="col-9 text-centered">
                    <input type="text" placeholder="Search Recipe" class="form-control" name="recipe"/>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-sm btn-success p-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>