<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Spaghetti</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Kiwi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Tomato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">C</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="">Spaghetti</a>
    </li>
</ul>