<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=mushrooms">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=pumpkin">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=apple">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=banana">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=blackberry">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=blueberry">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=coconut">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=kiwi">Kiwi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=strawberry">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=tomato">Tomato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=pizaa">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=cake">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-black" href="/Recipe/Search?recipe=spaghetti">Spaghetti</a>
    </li>
</ul>