<ul class="list-group-flush px-0 vh-100 overflow-auto">
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=burger">Burger</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pizza">Pizza</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=taco">Taco</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=baklava">Baklava</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=curry">Curry</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=spaghetti%20bolognese">Spaghetti bolognese</a>
	</li>
	<li class="recipe-item list-group-item">
		<a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=paella">Paella</a>
	</li>
</ul>